// base style for the entire app

@use '../abstracts/index' as a;

body {
  background-color: var(--clr-slate-300);
}

main {
  background-color: var(--clr-white-500);
  padding: var(--spacing-200);
  border-radius: 1.25rem;
  box-shadow: 0 1.5625rem 1.5625rem 0 rgba(0, 0, 0, 0.05);
}

img {
  border-radius: 0.625rem;
}