@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: "Outfit", serif;
    background-color: rgba(213, 225, 239, 1);
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: rgba(104, 119, 141, 1);
}

img {
    width: 288px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 16px 40px 16px;
    text-align: center;
    letter-spacing: 0.2px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 10px 10px 0 rgba(0, 0, 0, 0.05);
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    gap: 16px;
    width: 288px;
}

