// qr Code Page

body {
  display: grid;
}

.qr-code {
  place-self: center;
  padding-bottom: var(--spacing-500);
  width: min(20rem, 90%);

  &__image {
    margin-bottom: var(--spacing-300);
    text-align: center;
  }

  &__text {
    display: grid;
    gap: var(--spacing-200);
    padding: 0 16px;
    text-align: center;
  }
}