.qr-code {
  display: grid;
  padding: var(--spacing-200) var(--spacing-200) var(--spacing-500) var(--spacing-200);
  background-color: var(--clr-white-500);
  border-radius: 1.25rem;

  &__image {
    margin-bottom: var(--spacing-300);
    text-align: center;
    border-radius: 0.5rem;
  }

  &__text {
    display: grid;
    gap: var(--spacing-200);
    padding: 0 16px;
    text-align: center;
  }
}