// the typography system in the app

h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 1.375rem;
  line-height: 1.2;
  color: var(--clr-slate-900);
}

p {
  font-family: 'Outfit', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.4;
  color: var(--clr-slate-500);
}